body {
    background: fixed;
    background-color: rgb(39, 39, 39);
}
header h1 {
    background-color: rgb(75, 75, 75);
    font-size: 35px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding: 30px;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    left: 1.5%;
}
.button {
    padding: 30px;
    padding-bottom: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
    
li {
    float: right;
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}
.home {
    font-size: 30px;
  }