/*COMMAND TO BEAUTIFY: SHIFT+ALT+F*/
body {
    background: fixed;
    background-color: rgb(39, 39, 39);
    background-image: url(/img/Orbit\ but\ Cycles.png);
    background-size: 100% 100%;
}
header h1 {
    background-color: rgba(75, 75, 75, 0);
    font-size: 35px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding: 30px;
    border: 2px white solid;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    left: 1.5%;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.button {
    padding: 30px;
    padding-bottom: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
    
li {
    float: right;
    margin: 10px;
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}
.home {
    font-size: 30px;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;
}
.home:hover {
    background-color: white;
    color: black;
}
.home:active {
    background-color: rgb(128, 128, 128);
}
.image {
text-align: center;
}
.img-hover-zoom {
    height: 300px;
    width: 300px;
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform .5s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
}
.img-hover-zoom--blur {
    height: 300px;
    width: 300px;
    overflow: hidden;
}
.img-hover-zoom--blur img {
    transition: transform .5s, filter .5s ease-in-out;
    filter: blur(25px);
    transform: scale(1.2);
}
.img-hover-zoom--blur:hover img {
    filter: blur(0);
    transform: scale(1);
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    padding: 25px;
    align-self: center;
}
.grid-item {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
.grid-text {
    position: absolute;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1 {
    font-size: 25px;
    color: white;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.right {
    float: right;
    padding-right: 20px;
}
p {
    color: white;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.module1 {
    border: 3px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    border-image: linear-gradient(to right, black, red, black);
    border-image-slice: 1;
    width: 50%;
}
.module2 {
  max-width: 50%;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    border-image-slice: 0 0 0 1;
}